In [1]:
len('hello world')

11

In [2]:
len("2112")

4

In [3]:
len('')

0

In [4]:
hi = 'hello world'

In [5]:
len(hi)

11

In [6]:
#MATH  #VARIABLES

In [7]:
len("hello world")

11

In [8]:
<<bonjour monde>>

SyntaxError: invalid syntax (<ipython-input-8-50da481c9e7e>, line 1)

In [9]:
#language dependent - computing is cultural

In [10]:
len(2112)

TypeError: object of type 'int' has no len()

In [11]:
#integers don't have length

In [12]:
len('2112')

4

In [13]:
'hello'[0]

'h'

In [14]:
'hello'[1]

'e'

In [15]:
'hello'[2]

'l'

In [16]:
'hello'[3]

'l'

In [17]:
'hello'[4]

'o'

In [18]:
'hello'[5]

IndexError: string index out of range

In [19]:
#error bc there are only 5 characters (0-4)

In [20]:
'hello world'[0:3]

'hel'

In [21]:
'2112'[0:3]

'211'

In [22]:
''[0:3]

''

In [23]:
#not an error bc it's a "forgiving operation"

In [24]:
'hello'[0:1]

'h'

In [26]:
''[0]

IndexError: string index out of range

In [27]:
''[0:1]

''

In [28]:
'hello world'[0:500]

'hello world'

In [29]:
'hello world'[450:500]

''

In [30]:
#there are no character form 450 - 500, so a null value is returned

In [31]:
'hello world'[:3]

'hel'

In [32]:
'hello world'[3:]

'lo world'

In [33]:
#steps allow you skip characters when taking a slice
#so if you want to start at the beginning and go to the end, but skipping ahead by two ->

In [34]:
'abcdefgh'[0:9:2]

'aceg'

In [35]:
#leave out the beginning and end
'abcdefgh'[::2]

'aceg'

In [36]:
#get all even digits

In [37]:
'0123456789'[::2]

'02468'

In [38]:
#to get the last character

In [39]:
'hello world'[-1]

'd'

In [40]:
#get the penultimate

In [41]:
'hello world'[-2]

'l'

In [42]:
'hello world'[-5]

'w'

In [48]:
'hheelllloo  wwoorrlldd'[::2]

'hello world'

In [49]:
#practice!

In [50]:
wyatt = 'They flee from me that sometime did me seek / With naked foot, stalking in my chamber.'

In [51]:
'HELLO World'.lower()

'hello world'

In [53]:
original = "Burma Shave"
lowercase = original.lower()
lowercase

'burma shave'

In [54]:
original

'Burma Shave'

In [55]:
wyatt = wyatt.lower()
wyatt

'they flee from me that sometime did me seek / with naked foot, stalking in my chamber.'

In [58]:
for c in wyatt:
    print c

t
h
e
y

f
l
e
e

f
r
o
m

m
e

t
h
a
t

s
o
m
e
t
i
m
e

d
i
d

m
e

s
e
e
k

/

w
i
t
h

n
a
k
e
d

f
o
o
t
,

s
t
a
l
k
i
n
g

i
n

m
y

c
h
a
m
b
e
r
.

In [59]:
for i in range(len(wyatt)):
    print wyatt[i]

t
h
e
y

f
l
e
e

f
r
o
m

m
e

t
h
a
t

s
o
m
e
t
i
m
e

d
i
d

m
e

s
e
e
k

/

w
i
t
h

n
a
k
e
d

f
o
o
t
,

s
t
a
l
k
i
n
g

i
n

m
y

c
h
a
m
b
e
r
.

In [60]:
for i in range(len(wyatt)):
    print i, wyatt[i]

0 t
1 h
2 e
3 y
4
5 f
6 l
7 e
8 e
9
10 f
11 r
12 o
13 m
14
15 m
16 e
17
18 t
19 h
20 a
21 t
22
23 s
24 o
25 m
26 e
27 t
28 i
29 m
30 e
31
32 d
33 i
34 d
35
36 m
37 e
38
39 s
40 e
41 e
42 k
43
44 /
45
46 w
47 i
48 t
49 h
50
51 n
52 a
53 k
54 e
55 d
56
57 f
58 o
59 o
60 t
61 ,
62
63 s
64 t
65 a
66 l
67 k
68 i
69 n
70 g
71
72 i
73 n
74
75 m
76 y
77
78 c
79 h
80 a
81 m
82 b
83 e
84 r
85 .

In [61]:
range(len(wyatt))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85]

In [62]:
len(wyatt)

86

In [67]:
for i in range(len(wyatt)):
    print wyatt[i:i+2]

th
he
ey
y
 f
fl
le
ee
e
 f
fr
ro
om
m
 m
me
e
 t
th
ha
at
t
 s
so
om
me
et
ti
im
me
e
 d
di
id
d
 m
me
e
 s
se
ee
ek
k
 /
/
 w
wi
it
th
h
 n
na
ak
ke
ed
d
 f
fo
oo
ot
t,
,
 s
st
ta
al
lk
ki
in
ng
g
 i
in
n
 m
my
y
 c
ch
ha
am
mb
be
er
r.
.

In [66]:
pair = 0
for i in range(len(wyatt)):
    if wyatt[i:i+2] == 'ee':
        pair = pair + 1

In [68]:
pair

2

In [69]:
pair = 0
for i in range(len(wyatt)):
    if wyatt[i] == wyatt[i+1]:
        pair = pair + 1

IndexError: string index out of range

In [70]:
pair

3

In [71]:
pair = 0
for i in range(len(wyatt)-1):
    if wyatt[i] == wyatt[i+1]:
        pair = pair +1

In [73]:
pair

3

In [74]:
text = 'All human beings are born free and equal in dignity and rights. They are endowed with reason and conscience and should act towards one another in a spirit of brotherhood.'

In [75]:
len(text)

170

In [76]:
text.split(' ')

['All',
 'human',
 'beings',
 'are',
 'born',
 'free',
 'and',
 'equal',
 'in',
 'dignity',
 'and',
 'rights.',
 'They',
 'are',
 'endowed',
 'with',
 'reason',
 'and',
 'conscience',
 'and',
 'should',
 'act',
 'towards',
 'one',
 'another',
 'in',
 'a',
 'spirit',
 'of',
 'brotherhood.']

In [77]:
text

'All human beings are born free and equal in dignity and rights. They are endowed with reason and conscience and should act towards one another in a spirit of brotherhood.'

In [79]:
len(text.split(' '))

30

In [80]:
text.split('and')

['All human beings are born free ',
 ' equal in dignity ',
 ' rights. They are endowed with reason ',
 ' conscience ',
 ' should act towards one another in a spirit of brotherhood.']

In [81]:
hi = 'hello world'
hi.split(' ')

['hello', 'world']

In [82]:
'hello world'.split(' ')

['hello', 'world']

In [83]:
#same thing

In [84]:
hi.split()

['hello', 'world']

In [85]:
text.split(' ')

['All',
 'human',
 'beings',
 'are',
 'born',
 'free',
 'and',
 'equal',
 'in',
 'dignity',
 'and',
 'rights.',
 'They',
 'are',
 'endowed',
 'with',
 'reason',
 'and',
 'conscience',
 'and',
 'should',
 'act',
 'towards',
 'one',
 'another',
 'in',
 'a',
 'spirit',
 'of',
 'brotherhood.']

In [86]:
names = ['Bob', 'Carol', 'Ted', 'Alice']

In [87]:
' & '.join(names)

'Bob & Carol & Ted & Alice'

In [88]:
names.join(' & ')

AttributeError: 'list' object has no attribute 'join'

In [90]:
#nope! order matteres!

names

In [91]:
names

['Bob', 'Carol', 'Ted', 'Alice']

In [92]:
' & '.join(names)

'Bob & Carol & Ted & Alice'

In [93]:
' and/or '.join(names)

'Bob and/or Carol and/or Ted and/or Alice'

In [96]:
'\n'.join(names)

'Bob\nCarol\nTed\nAlice'

print '\n

In [97]:
print '\n'.join(names)

Bob
Carol
Ted
Alice

In [98]:
print 'exists.\n'.join(names)

Bobexists.
Carolexists.
Tedexists.
Alice

In [99]:
#what happened to alice?

In [100]:
#join() is placing a conjunction between the strings in a list - not adding anything
#to the beginning or the end

In [ ]:
#or you can just do this (a lot of code can be set up to do the same thing in a diff. way)

In [107]:
for person in names:
    print person + ' exists.'

Bob exists.
Carol exists.
Ted exists.
Alice exists.

In [108]:
sorted(names)

['Alice', 'Bob', 'Carol', 'Ted']

In [109]:
names

['Bob', 'Carol', 'Ted', 'Alice']

In [110]:
names.sort()

In [111]:
#exercises from class

In [112]:
#4 - Determining Initials

In [126]:
def initials(word):
    initials = ''
    for i in word.split():
        initials += i[0]
    return initials

In [117]:
initials('Cranbrook Kingswood')

'CK'

In [118]:
initials('Washington Map Society')

'WMS'

In [125]:
initials('library of congress geography map division')

'locgmd'

In [ ]:
#2 - Counting Spaces

In [128]:
def countspaces(word):
    return len(word.split(' '))

In [130]:
countspaces('Cranbrook Kingswood')

2

In [131]:
countspaces('Cranbrook Kingswood Upper School')

4

In [132]:
def countspaces(word):
    return len(word.split(' ')) -1

In [133]:
countspaces('Cranbrook Kingswood Upper School')

3